@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@section Styles {
    <link rel="stylesheet" href="~/css/form.css" />
}

<div class="col-12">
    <div class="col-12">
        <partial name="_StatusMessage" for="StatusMessage" />
    </div>
    <section id="form-section" class="form-section col-12 ">
        <div class="form-container">
            <h1 class="form-header">@ViewData["Title"]</h1>
            <form id="change-password-form" method="post">
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                </div>
                <div class="form-group">
                    <label asp-for="Input.OldPassword" class="form-label"></label>
                    <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.NewPassword" class="form-label"></label>
                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password." />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-navigation">
                    <button type="submit" class="btn btn-primary">Update password</button>
                </div>
            </form>
        </div>
    </section>
</div>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
