@page
@model IndexModel
@inject UserManager<AppUser> _userManager
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;

    var GovernoratesList = new SelectList(Model.Governorates);
}

@section Styles {
    <link rel="stylesheet" href="~/css/form.css" />
}

<div class="col-12">
    <div class="col-12">
        <partial name="_StatusMessage" for="StatusMessage" />
    </div>
    <section id="form-section" class="form-section col-12 ">
        <div class="form-container">
            <h1 class="form-header">@ViewData["Title"]</h1>
            <form id="profile-form" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                </div>
                <div class="form-group" style="text-align: center">
                    @if (Model.Input.ProfilePicture != null)
                    {
                        <img id="profilePicture" alt="profile" class="large-pfp" style="border-radius: 50%; width: 250px; height: 250px; object-fit: cover;"
                                src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))" />
                    }
                    else
                    {
                        <img id="profilePicture" alt="profile" class="large-pfp" style="border-radius: 50%; width: 250px; height: 250px; object-fit: cover;"
                                src="~/images/default_user.svg" />
                    }
                    <div class="custom-file mt-2">
                        <input type="file"
                                accept="image/*"
                                name="ProfilePicture"
                                class="form-control"
                                onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                        <span asp-validation-for="Input.ProfilePicture" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Input.FirstName">First Name</label>
                    <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" aria-required="true" placeholder="first name" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.LastName">Last Name</label>
                    <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" aria-required="true" placeholder="last name" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Username" class="form-label"></label>
                    <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber" class="form-label"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Street">Street</label>
                    <input asp-for="Input.Street" class="form-control" autocomplete="street" aria-required="false" placeholder="Baker street" />
                    <span asp-validation-for="Input.Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Neighborhood">Neighborhood</label>
                    <input asp-for="Input.Neighborhood" class="form-control" autocomplete="neighborhood" aria-required="false" placeholder="Neighborhood" />
                    <span asp-validation-for="Input.Neighborhood" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.City">City</label>
                    <input asp-for="Input.City" class="form-control" autocomplete="city" aria-required="false" placeholder="Gotham city" />
                    <span asp-validation-for="Input.City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Governorate">Governorate</label>
                    <select asp-for="Input.Governorate" class="form-select" asp-items="@GovernoratesList" > </Select>
                </div>
                <div class="form-group">
                    <label asp-for="Input.DateOfBirth">DateOfBirth</label>
                    <input asp-for="Input.DateOfBirth" class="form-control" aria-required="false" />
                    <span asp-validation-for="Input.DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Gender">Gender</label>
                    <Select asp-for="Input.Gender" class="form-select" aria-required="true" asp-items="Html.GetEnumSelectList<Gender>()"> </Select>
                </div>
                @{
                    var user = await _userManager.GetUserAsync(User);
                    if (user.AccountType == AccountType.Student)
                    {
                        <div class="form-group">
                            <label asp-for="Input.Year">Year</label>
                            <Select asp-for="Input.Year" class="form-select" aria-required="true" asp-items="Html.GetEnumSelectList<Year>()"> </Select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.Major">Major</label>
                            <Select asp-for="Input.Major" class="form-select" aria-required="true" asp-items="Html.GetEnumSelectList<Major>()"> </Select>
                        </div>
                    }
                    else if (user.AccountType == AccountType.Teacher)
                    {
                        <div class="form-group">
                            <div class="checkbox-group">
                                <label asp-for="Input.IsAvailableForPrivateGroups" class="form-check-label">
                                    <input asp-for="Input.IsAvailableForPrivateGroups" class="form-check-input" aria-required="false" />
                                    Available For Private Groups
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.PrivatePrice" class="form-label">Private Group Price Per Session</label>
                            <input asp-for="Input.PrivatePrice" class="form-control" aria-required="false" placeholder="00.00" />
                            <span asp-validation-for="Input.PrivatePrice" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.TagLine" class="form-label">Tag Line</label>
                            <input asp-for="Input.TagLine" class="form-control" aria-required="false" placeholder="dynasour el chemiaa" />
                            <span asp-validation-for="Input.TagLine" class="text-danger"></span>
                        </div>
                    }
                }
                <div class="form-navigation">
                    <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                </div>
            </form>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}