@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Set password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

@section Styles {
    <link rel="stylesheet" href="~/css/form.css" />
}

<div class="col-12">
    <section id="form-section" class="form-section col-12 ">
        <div class="form-container">
            <h1 class="form-header">@ViewData["Title"]</h1>
            <form id="set-password-form" method="post">
                <div class="form-group">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                </div>
                <div class="form-group">
                    <partial name="_StatusMessage" for="StatusMessage" />
                    <p class="text-info">
                        You do not have a local username/password for this site. Add a local
                        account so you can log in without an external login.
                    </p>
                </div>
                <div class="form-group">
                    <label asp-for="Input.NewPassword"></label>
                    <input asp-for="Input.NewPassword" autocomplete="new-password" placeholder="Please enter your new password." />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" autocomplete="new-password" placeholder="Please confirm your new password." />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-navigation">
                    <button type="submit" class="btn btn-primary">Set password</button>
                </div>
            </form>
        </div>
    </section>
</div>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}