@model XCourse.Core.ViewModels.TeachersViewModels.SubjectCreateVM
@{
   ViewData["Title"] = "Create";  
}
@section Styles {
    <link rel="stylesheet" href="~/css/Teachers/Card.css" />
}

<div class="container">
    @* <div class="header-section"> *@
    @*     <h2>Pending Requests</h2> *@

    <div class="card">
        <div class="card__header">
            Creating New Subject
        </div>
       <form asp-action="Create">  
           <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="card__row">
                <div class="card__label">Topic:</div>
                <div class="card__value">
                    @* <label asp-for="Topic" class="control-label"></label> *@
                    <input asp-for="Topic" class="form-control" list="TopicSuggestions" placeholder="Select or type a topic" />
                    <datalist id="TopicSuggestions">
                        @foreach (var topic in Model.Topics)
                        {
                            <option value="@topic.Text"></option>
                        }
                    </datalist>
                    <span asp-validation-for="Topic" class="text-danger"></span>
                </div>
			</div>
            <div class="card__row">

                <div class="card__label">Major:</div>
                <select asp-for="Major" class="card__value" asp-items=@Html.GetEnumSelectList(typeof(XCourse.Core.Entities.Major))></select>
                <span asp-validation-for="Major" class="text-danger"></span>  
                
            </div>
           <div class="card__row">  
                <div class="card__label">Year:</div>
               <select asp-for="Year" class="card__value" asp-items=@Html.GetEnumSelectList(typeof(XCourse.Core.Entities.Year))></select>  
               <span asp-validation-for="Year" class="text-danger"></span>  
           </div>  
           
           <div class="card__row">
               <div class="card__label">Semester:</div>
                <select asp-for="Semester" class="card__value" asp-items="@(new SelectList(Enum.GetValues(typeof(XCourse.Core.Entities.Semester))))"></select>
                <span asp-validation-for="Semester" class="text-danger"></span>  
           </div>
            <div class="button-container">
                <div class="btn btn--accept">
                    <input type="submit" value="Create" class="btn-primary" />
                </div>
                <a asp-action="Index" class="btn btn--edit">
                    <i class="fas fa-arrow-left"></i>
                    Go Back
                </a>
            </div>
       </form>  
   </div>  
</div>  
