@using Microsoft.AspNetCore.Identity
@using XCourse.Core.Entities
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    var user = UserManager.GetUserAsync(User).Result;
    <div class="profile">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            @if (user.ProfilePicture != null)
            {
                <img alt="Profile" class="profile-photo"
                     src="data:image/*;base64,@(Convert.ToBase64String(user.ProfilePicture))" />
            }
            else
            {
                <img alt="Profile" class="profile-photo" src="~/images/default_user.svg" />
            }
        </a>
        <div class="profile-info">
            <span class="profile-name">@user.FirstName @user.LastName</span>
            <span class="profile-subname">@("@" + user.UserName)</span>
        </div>
    </div>
}