<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - XCourse.Web</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body data-theme="light">

    <nav class="sidebar" id="sidebar">

        <!-- Sidebar Header (Logo and Toggle Button) -->
        <div class="sidebar-header">
            <div class="logo" id="logo">
                <span class="logo-text">XCourse</span>
            </div>
            <button class="toggle-btn" id="toggle-sidebar">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>

        <!-- Profile Section -->
        <partial name="~/Areas/Teachers/Views/Shared/_ProfilePartial.cshtml" />





        <!-- Navigation Menu -->
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="#" class="nav-link active">
                    <i class="fa-solid fa-house nav-icon"></i>
                    <span class="nav-text">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link submenu-toggle">
                    <i class="fa-solid fa-users nav-icon"></i>
                    <span class="nav-text">Groups</span>
                    <i class="fa-solid fa-chevron-down arrow"></i>
                </a>
                <ul class="submenu">
                    <li class="submenu-item">
                        <a asp-area="Teachers" asp-controller="Group" asp-action="Index" class="submenu-link">
                            <i class="fa-solid fa-circle-user nav-icon"></i>
                            <span>My Groups</span>
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a asp-area="Teachers" asp-controller="Group" asp-action="Create" class="submenu-link">
                            <i class="fa-solid fa-plus nav-icon"></i>
                            <span>Create Group</span>
                        </a>
                    </li>
                    <li class="submenu-item">
                        <a href="#" class="submenu-link">
                            <i class="fa-solid fa-users-gear nav-icon"></i>
                            <span>Manage Groups</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa-solid fa-video nav-icon"></i>
                    <span class="nav-text">Sessions</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa-solid fa-bullhorn nav-icon"></i>
                    <span class="nav-text">Announcements</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa-solid fa-building nav-icon"></i>
                    <span class="nav-text">Centers</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fa-solid fa-file-pen nav-icon"></i>
                    <span class="nav-text">Exams</span>
                </a>
            </li>
            <!-- Authentication Menu -->
            <partial name="~/Areas/Teachers/Views/Shared/_AuthPartial.cshtml" />

            <!-- Theme Toggle -->
            <li class="nav-item">
                <a href="#" class="nav-link" id="theme-toggle">
                    <i class="fa-solid fa-moon nav-icon"></i>
                    <span class="nav-text">Toggle Theme</span>
                </a>
            </li>
        </ul>
    </nav>


    <!-- Main Content -->
    <main class="main-content" id="main-content">
        <div class="container-fluid row">
            @RenderBody()
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js" asp-append-version="true"></script>
    <script src="~/js/layout.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
