<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nour - @ViewData["Title"]</title>
    <script type="importmap"></script>
    <script>
        (function () {
          try {
            const mode = localStorage.getItem('mode');
            let theme = localStorage.getItem('theme');

            if (mode === 'system') {
              theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
            }

            if (theme === 'dark') {
              document.documentElement.setAttribute('data-theme', 'dark');
            } else {
              document.documentElement.setAttribute('data-theme', 'light');
            }
          } catch (e) {
            // fallback
            document.documentElement.setAttribute('data-theme', 'light');
          }
        })();
    </script>
    <link id="favicon" rel="icon" type="image/svg+xml" href="~/favicons/favicon-light.svg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    @* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"> *@
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>

    <nav class="sidebar collapsed" id="sidebar">

        <!-- Sidebar Header (Logo and Toggle Button) -->
        <div class="sidebar-header">
            <div class="logo" id="logo">
                <img id="logo-text" class="logo-text" src="~/branding/logo-en-light.svg" width="95px" />
            </div>
            <button class="toggle-btn" id="toggle-sidebar">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>

        <!-- Profile Section -->
        <partial name="_ProfilePartial.cshtml" />

        <ul class="nav-menu">
            <!-- Navigation Menu -->
            @RenderSection("NavigationMenu", false)

            <!-- Authentication Menu -->
            <partial name="_AuthPartial.cshtml" />
        </ul>
        <ul class="nav-menu theme-section">
            <!-- Theme Toggle -->
            <li class="nav-item">
                <button class="nav-link" id="theme-toggle">
                    <i class="fa-solid fa-sun nav-icon"></i>
                    <span class="nav-text">Toggle Theme</span>
                </button>
            </li>
        </ul>
    </nav>
    <nav class="modebar d-none" id="modebar">
        <!-- Navigation Menu -->
        <ul class="nav-menu">
            </li>
            <!-- Theme Toggle -->
            <li class="nav-item">
                <button class="nav-link" id="theme-light">
                    <i class="fa-solid fa-sun nav-icon"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="theme-dark">
                    <i class="fa-solid fa-moon nav-icon"></i>
                </button>
            </li>
            <li class="nav-item">
                <button class="nav-link" id="theme-system">
                    <i class="fa-solid fa-laptop nav-icon"></i>
                </button>
            </li>
        </ul>
    </nav>

    <div id="map-max"></div>
    <!-- Main Content -->
    <main class="main-content expanded" id="main-content">
        <div class="container-fluid row">
            @RenderBody()
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js" asp-append-version="true"></script>
    <script src="~/js/layout.js" asp-append-version="true" defer></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
