@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="col-12">
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to confirm your account and <a id="login" asp-area="Identity" asp-page="/Account/Login">login</a>.
    </p>
</div>
