@model XCourse.Core.DTOs.CenterAdmins.RoomDto

@{
    ViewData["Title"] = "Edit Room";
   
    var selectListItem = Enum.GetValues(typeof(Equipment))
    .Cast<Equipment>()
    .Where(e => e != Equipment.None)  
    .Select(e => new SelectListItem
            {
                Value = ((int)e).ToString(),
                Text = e.ToString(),
                Selected = Model.SelectedEquipments.Contains(e)
            })
    .ToList();

}

@section Styles {
    <link rel="stylesheet" href="~/css/form.css" />
}

<div class="col-12">
    <section id="form-section" class="form-section col-12 ">
        <div class="form-container">
            <h1 class="form-header">@ViewData["Title"]</h1>
            <form asp-action="Edit" enctype="multipart/form-data">
                <input asp-for="CenterId" hidden class="form-control" />
                <input asp-for="RoomId" hidden class="form-control" />

                <div class="form-group">
                    <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                </div>

                <div class="form-group" style="text-align: center">
                    @if (Model.PreviewPicture2 != null)
                    {
                        <img id="PreviewPicture" alt="profile" style="border-radius: 10px; width: 100%; height: 250px; object-fit: cover;"
                             src="data:image/*;base64,@(Convert.ToBase64String(Model.PreviewPicture2))" />
                    }
                    else
                    {
                        <img id="PreviewPicture" alt="profile" style="border-radius: 10px; width: 100%; height: 250px; object-fit: cover;"
                             src="~/images/default_room.svg" />
                    }
                    <div class="custom-file mt-2">
                        <input type="file"
                               name="img"
                               accept="image/*"
                               class="form-control"
                               onchange="document.getElementById('PreviewPicture').src = window.URL.createObjectURL(this.files[0])" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div> 
                <div class="form-group" id="capacityField">
                    <label asp-for="Capacity" class="control-label"></label>
                    <input asp-for="Capacity" class="form-control" />
                    <span asp-validation-for="Capacity" class="text-danger"></span>
                </div>

                <div class="form-group" id="equipmentField">
                    <label asp-for="Equipment" class="control-label"></label>
                    <select asp-for="SelectedEquipments"
                            class="form-select form-select-sm"
                                asp-items="@selectListItem"
                            multiple size="3">
                    </select>
                    <span asp-validation-for="Equipment" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <label asp-for="PricePerHour" class="control-label">Price Per Hour</label>
                    <input asp-for="PricePerHour" class="form-control" />
                    <span asp-validation-for="PricePerHour" class="text-danger"></span>
                </div>
                
                <div class="form-navigation">
                    <a asp-action="Index" asp-route-id="@Model.CenterId" class="btn btn-close">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </section>
    <section id="form-section" class="form-section col-12 ">
        <div class="form-container">
            <h1 class="form-header">Delete Room</h1>
            <form>
                <div class="form-group">
                    <a class="btn btn-close" asp-action="Delete" asp-route-id="@Model.RoomId" style="display: inline-block; width: 100%; text-align: center">
                        <i class="fas fa-trash-alt me-1"></i>
                        Delete Room
                    </a>
                </div>
                <div class="form-group">
                    <p class="text-danger">
                        Warning! This action can't be undone.
                    </p>

                </div>
            </form>
        </div>
    </section>
</div>



<td class="data-table__actions">
    
</td>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />

    @if (Model.RoomReservations != null && Model.RoomReservations.Any())
    {
        <script>
            $(document).ready(function () {
                $("#capacityField").hide();
                $("#equipmentField").hide();
            });
        </script>
    }
}
